label > input{ /* HIDE RADIO */
  display:none;
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
}
label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  /*background: #FFD5CB;
  border-radius:100%;*/
}

.btn-rating{
	height: 25px;
	background-color: white;
	margin: 1px 0px 1px 0px;
	min-width: 7.5%;
	border-radius: 0px;
	text-align: left;
}
