label > input{ /* HIDE RADIO */
  display:none;
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
}
label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  /*background: #FFD5CB;
  border-radius:100%;*/
}