<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src= "../script/angular.js"></script>
    <script src= "../controller/restaurantListController.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/review.css"/>
    <title>Mätt</title>
</head>

<body ng-app="Matt" class="backgroundRed" ng-controller="restaurantListController as restController">
	<div ng-show="showLogo" class="jumbotron navbar navbar-default navbar-fixed-top">
		<!-- insert a image instead -->
		<img src="../images/logo/matt_logo_white_resize.svg" alt="mätt!" />
		<span class="pull-right center-block"><img width="25px" src="../images/list/about.svg" alt="Om oss" /></span>

		<!-- search form -->
		<form class="colorRed navbar-form navbar-left" role="search">
		    <div class="form-group">
		        <input type="text" class="form-control" placeholder="Sök">
		    </div>
		</form>
	</div>

	<div ng-show="showName" class="jumbotron navbar navbar-default navbar-fixed-top">
		<!-- insert a image instead -->
		<span class="pull-right center-block"><img width="25px" src="../images/list/about.svg" alt="Om oss" /></span>
		<a ng-click="restController.back()" class="pull-left center-block"><</a>
		<h4 class="hideText">{{name}}</h4>
	</div>

	<div class="container addMargin">
		<div>

			<!-- align the restuarant in rows with two cells -->
			<div ng-show="showList">
				<div ng-repeat="restaurant in restaurants">
					<span ng-if="$index % 2 == 0">
				    	<div class="row list-group">

				    		<!-- need to have these two so we can have two in same row easily with ng-repeat -->	
				        	<a ng-click="restController.click(restaurants[$index+0].OBJID)" class="list-group-item col-xs-6 col-md-6" ng-if="restaurants[$index+0]">
				             	<h5 class="hideText colorRed">{{restaurants[$index+0].NAMN}}</h5>
				              	<p class="adress">{{restaurants[$index+0].BESADR}}</p>
				              	<span class="pull-right">
				              		<img ng-src="{{restController.setEmotion($index)}}" alt="recension" />
				              		<img ng-src="{{restController.setControllColor($index)}}" alt="kontroll" />
				              	</span>
				            </a>
				            
				            <a ng-click="restController.click(restaurants[$index+1].OBJID)" class="list-group-item col-xs-6 col-md-6" ng-if="restaurants[$index+1]">
				              	<h5 class="colorRed hideText">{{restaurants[$index+1].NAMN}}</h5>
				              	<p class="adress">{{restaurants[$index+1].BESADR}}</p>
				              	<span class="pull-right">
				              		<img ng-src="{{restController.setEmotion($index+1)}}" alt="recension" />
				              		<img ng-src="{{restController.setControllColor($index+1)}}" alt="kontroll" />
				              	</span>
				            </a>
				        </div>
				    </span>
				</div>
		</div>

		<div ng-show="showDetail" class="details">
			<div class="col-xs-3" style="align:left">
				<img style="height:75px; margin-top:7px; border-radius:6px;" src="../images/restaurang.jpg"/>
			</div>
			<div class="col-xs-9" style="padding-left:40px;">
				<h5 class="hideText colorRed">{{name}}</h5>
				<p class="adress">{{address}}</p>
				<img ng-src="{{emotion}}"/>
				<img ng-src="{{controllColor}}" style="padding-right:10px;"/>
				<p class="textfield-red">Lämna recension!</p> <!-- Tailor div -->
			</div>
			<br></br>
			<div class="col-xs-2" ng-repeat="i in [1,2,3,4,5]" style="margin-top:20px; margin-bottom:20px;">
				<img ng-src="../images/restaurantDetail/attribute/attr{{i}}.svg"/>
			</div>
			<br></br>
			<div class="details">
				<div ng-repeat="review in reviews" class="one-review">
					<div class="col-xs-3">
						<img style="width:50px;border-radius:6px;" src="../images/userImages/johan.jpg"/>
					</div>
					<!--<div ng-repeat="attr in review.givenAttributes | filter:{attr:true}">-->
					<div class="col-xs-9">
						<p class="textfield-red">{{review.comment}}</p>
					</div>
				</div>
			</div>
			<br></br>
		</div>

		</div>
	</div>

</body>
</html>
